.navbar-nav {
    align-items: end;
}

.navbar .container {
    align-items: end;
}

.navbar-brand {
    white-space: inherit;
}

.down-content li {
    color: #666666;
    font-size: .9rem;
    line-height: 30px;
}

.owl-stage {
    display: flex;
    align-items: center;
}